*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
   display: flex; /* Activa flexbox en este contenedor */
   justify-content: center;
   background-color: #f0f0f0;
   padding: 20px;
   flex-wrap: wrap;
}

.item {
   background-color: #00ade5;
   color: #fff;
   margin: 20px;
   padding: 20px;
}
.row{
    /*direccion en filas*/
    flex-direction: row;
}
.column{
    flex-direction: column; /*direccion en filas*/
}
.start{
justify-content: flex-start;
}
.center{
justify-content: center;
}
.space-between{
    justify-content: space-between;
}


body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   padding: 20px;
}
.contenedor{
   background: #ffffff;
   padding: 20px;
   border-radius: 10px;
    flex-wrap: wrap;
   /* Propiedades flexbox */
   display: flex;
   justify-content: center;
   
}

.elemento{
   margin: 10px;
   background-color: #00ade5;
   color: #ffffff;
   padding: 20px;
   border-radius: 10px;

}